<!DOCTYPE html>
<html>
  <head>
    <title>La Lavanderia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="icon" type="image/x-icon" href="../images/ico.ico">
  </head>
  <body class="cuerpop">

    <header class="header">

      <div class="contenedortitulo">
        <h1>Burbujas y Jabones Lavanderia</h1>
        <p>"Tan limpio que brilla"</p>
      </div>

    </header>

    <section class="main">
      
      <div class="contenedorc">
        <h3>Bienvenidos a la Lavanderia</h3>
        <br>
      </div>
      <div class="contenedor">

        <p>Nos especializamos en ofrecerte un servicio de lavanderia
          rapido, eficiente y de alta calidad con los mejores producos del mercado.
        </p>
        <img src="../images/descripcion.jpg" alt="" class="imgdesc">
      </div>

      <br>

      <div class="contenedorc">
        <h3>Nuestros servicios</h3>
        <br>
      </div>
      <div class="contenedor2">
        <p>-Servicio de lavanderia bronce 10$.</p>
        <p>(bolsa de 10kg de ropa)</p>
        <br>
        <p>-Servicio de lavanderia plata 25$.</p>
        <p>(bolsa de 30kg de ropa)</p>
        <br>
        <p>-Servicio de lavanderia oro 50$.</p>
        <p>(ropa ilimitada y se entrega planchada)</p>

        <br>

        <img class="imgserv" src="../images/servicios.jpg" alt="">
      </div>

      <br>

      <div class="contenedorc">
        <h3>Beneficios y ventajas</h3>
        <br>
      </div>
      <div class="contenedor">

        <img class="imgben" src="../images/beneficios.jpg" alt="">

        <p>Equipo con excelente direccion, trabajo eficiente y profesional, con experiencia de 15 años. Contamos con membresias y paquetes anuales para buscar su economia</p>

        <br>

        
      </div>

      

    </section>


    <footer class="footer">
      <div class="secc">
        <p>Burbujas y Jabones Lavanderia Derechos Reservados &copy</p>
      </div>
      <div class="secc">
        <p>contactanos: 0412-8961647 </p>
        <p>-/-email: Burbujasyjabones@gmail.com</p>
        <p>-/-ubicación: Av. Fermin Toro</p>
      </div>
      <div class="secc">
        <p>Siguenos en nuestras redes</p>
      </div>
      <div class="secc">
        <p>facebook: <a href="https://www.facebook.com/Lavanderiaburjab15">Lavanderiaburjab15</a></p>
        <p>-/-instagram: <a href="#">@Lavanderiaburjab15</a></p>
        <p>-/-twitter: <a href="#">@Lavanderiaburjab15</a></p>
      </div>
      
    </footer>
  </body>
</html>
